html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 24px 94px;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}
.navbar ul li {
  margin: 0 32px;
}
.navbar ul a {
  color: #000000;
  font-family: sans-serif;
}
.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 38px;
  right: 50px;
  width: 35px;
  cursor: pointer;
}
@media screen and (max-width: 928px) {
  .navbar .navbar {
    padding: 0;
  }
  .navbar .menu-hamburger {
    display: block;
    z-index: 200;
  }
  .navbar .navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.29);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
  .navbar .navlinks.mobile-menu {
    z-index: 100;
    margin-left: 0;
  }
}

.slider .swiper {
  width: 100%;
  height: 80vh;
}
.slider .firstimg {
  background-image: url("/static/images/Slider_images/sliderimg_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider .firstimg .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 58%;
  height: 244px;
  margin: 140px auto;
  font-family: sans-serif;
  color: white;
}
.slider .firstimg .slider-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 92px;
  background-image: url("/static/images/Slider_images/priicebackground.png");
  background-position: center;
  background-repeat: no-repeat;
}
.slider .firstimg .slider-container h1 {
  font-size: 75px;
  margin-bottom: 40px;
}
.slider .firstimg .slider-container h2 {
  margin-top: 10px;
  color: #006CD1;
  font-size: 21px;
  font-weight: bolder;
}
.slider .firstimg .slider-container p {
  font-size: 18px;
}
.slider .secondimg {
  background-image: url("/static/images/Slider_images/sliderimg_3.png.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider .thirdimg {
  background-image: url("/static/images/Slider_images/sliderimg_1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discover {
  height: 100vh;
  padding: 96px 73px;
}
.discover .discover-main {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.discover .discover-main .left-side-container {
  width: 19.5%;
  height: 164px;
}
.discover .discover-main .left-side-container h1,
.discover .discover-main .left-side-container p {
  color: #8D8D8D;
  font-size: 16px;
  margin-bottom: 22px;
}
.discover .discover-main .left-side-container h2 {
  font-size: 21px;
  margin-bottom: 39px;
}
.discover .discover-main .right-side-container {
  width: 80.5%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.discover .discover-main .right-side-container .card {
  width: 240px;
  height: 328px;
  cursor: pointer;
  margin: 0 0 26px 32px;
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
}
.discover .discover-main .right-side-container .card img {
  width: 100%;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.discover .discover-main .right-side-container .card p {
  margin-top: 8px;
  color: #8D8D8D;
  font-family: sans-serif;
}
.discover .discover-main .right-side-container .card:hover {
  outline-offset: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.discover .discover-main .right-side-container .card:hover img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media screen and (max-width: 620px) {
  .discover .card {
    margin: 0 !important;
  }
  .discover .discover-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .discover .discover-main .right-side-container {
    width: 100%;
  }
  .discover .discover-main .left-side-container {
    width: 68.5%;
    height: 164px;
    text-align: center;
    margin-bottom: 50px;
  }
}